@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080C0F;
  color: #EAEFEF;
}

::selection {
  background: #4FC3F7;
  color: #080C0F;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
