@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #00002A;
  color: #D4E4F0;
}

::selection {
  background: #4EA4CC;
  color: #00002A;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none !important;
}
